header {
    /* text-align: center; <- Can be done with the text-center class via bootstrap */
    padding: 2%;
}

header > img {
    /* display: flex;
    justify-content: center; */
    height: 100px;
    margin-bottom: 2%;
}

p {
    margin-top: 3%;
    padding: 1%;
    border: 1px dashed black;
}


